/bin
/gen
/res/drawable-*
local.properties
proguard.cfg
*.class
*.log
.cache
libs/
proguard_cache/

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Ensime specific
.ensime*
